<link rel="stylesheet" href="../../styles/sass/admin_home.css">

<div class="update__room">
    <form action="/api-hotel/update-room/<%= data.id %>" method="post">
        <h1 class="text__title--content">Sửa thông tin phòng khách sạn</h1>
    <input type="text" class="input__item input__text" value="<%= data.nameRoom %>" placeholder="Tên phòng" name="nameRoom">
    <input type="text" class="input__item input__text" value="<%= data.price %>" placeholder="Giá" name="price">
    <input type="text" class="input__item input__text" value="<%= data.imgLink %>" placeholder="Link ảnh" name="imgLink">
    <input type="text" class="input__item input__text" value="<%= data.description %>" placeholder="Mô tả" name="description">
    <h3>Chọn loại phòng</h3>
    <select class="floatLabel" name="typeRoom">
        <!-- <option value="blank"></option> -->
        <option value="Vip" selected>Vip</option>
        <option value="Thường">Thường</option>
        <option value="Đôi">Đôi</option>
        <option value="Đơn">Đơn</option>
        <option value="Gia đình">Gia đình</option>
      </select>
    <button class="btn__update--room" type="submit">Hoàn thành</button>
    </form>
</div>